@using TaskLogSystem.Models

@{
    Employee user = null;
    if (Session["CurrentUser"] != null)
    {
        user = (Employee)Session["CurrentUser"];
    }
}

<div class="container-fluid">
    <table class="table table-bordered table-responsive" id="EmployeeTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    Employee Code
                </th>
                <th>
                    Employee Name
                <th>
                    Gender
                </th>
                <th>
                    Email
                </th>
                <th>
                    Department
                </th>

                @if (user.DepartmentID == 1)
                {
                    <th>
                        Reporting Person
                    </th>

                    <th>
                        Action
                    </th>
                }
            </tr>
        </thead>
    </table>
</div>