<div class="container-fluid">
    <table class="table table-bordered table-responsive" width="100%" id="TaskTable">
        <thead>
            <tr>
                <th>
                    Task Name
                </th>
                <th>
                    Task Description
                </th>
                <th>
                    Task Date
                </th>
                <th>
                    Approver
                </th>
                <th>
                    Approved or Rejected By
                </th>
                <th>
                    Approved or Rejected On
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>