@using TaskLogSystem.Models
@{
    ViewBag.Title = "ApproveTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Employee user = null;
    if (Session["CurrentUser"] != null)
    {
        user = (Employee)Session["CurrentUser"];
    }
}

@{Html.RenderPartial("_Header"); }

<div class="container-fluid ps-4 pe-5">
    <div class="text-center">
        <h1><b>Approve Tasks</b></h1>
    </div>

    <table class="table table-bordered table-responsive" id="ApproveTaskTable">
        <thead>
            <tr>
                <th>
                    Employee Code
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Description
                </th>
                <th>
                    Task Date
                </th>
                <th>
                    Approver
                </th>
                <th>
                    Approved or Rejected By
                </th>
                <th>
                    Approved or Rejected On
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    <script>

            var ApproveTaskTable = $("#ApproveTaskTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                //"lengthMenu": [5, 10, 20, { label: 'All', value: -1 }],
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],

                "order": [10, "desc"],

                "language": {
                    "loadingRecords": "Loading data, please wait...",
                    "zeroRecords": "No data available",
                },

                "columnDefs": [
                    {
                        "targets": [11],
                        "orderable": false
                    },
                    {
                        "targets": [0,1,2,3,5,6,7,9,10,11],
                        "width": "130px",
                    },
                    {
                        "targets": [4],
                        "width": "80px",
                    },
                ],

                "ajax": {
                    "url": "/Datatable/LoadAllTasksData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "EmployeeCode",
                        "name": "EmployeeCode",
                        "title": "Employee Code",
                        "autoWidth": true
                    },
                    {
                        "data": "EmployeeName",
                        "name": "EmployeeName",
                        "title": "Employee Name",
                        "autoWidth": true
                    },
                    {
                        "data": "TaskName",
                        "name": "TaskName",
                        "title": "Task Name",
                        "autoWidth": true
                    },
                    {
                        "data": "TaskDescription",
                        "name": "TaskDescription",
                        "title": "Task Description",
                        "autoWidth": true
                    },
                    {
                        "data": "TaskDate",
                        "name": "TaskDate",
                        "title": "Task Date",
                        "autoWidth": true
                    },
                    {
                        "data": "ApproverName",
                        "name": "ApproverID",
                        "title": "Approver",
                        "autoWidth": true
                    },
                    {
                        "data": "ApprovedorRejectedByName",
                        "name": "ApprovedorRejectedBy",
                        "title": "Approved or Rejected By",
                        "autoWidth": true
                    },
                    {
                        "data": "ApprovedorRejectedOn",
                        "name": "ApprovedorRejectedOn",
                        "title": "Approved or Rejected On",
                        "autoWidth": true
                    },
                    {
                        "data": "Status",
                        "name": "Status",
                        "title": "Status",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                var className = '';
                                if (data === 'Approved') {
                                    className = 'bg-success text-white p-2 w-100 text-center rounded';
                                } else if (data === 'Rejected') {
                                    className = 'bg-danger text-white p-2 w-100 text-center rounded';
                                } else if (data === 'Pending') {
                                    className = 'bg-warning text-black p-2 w-100 text-center rounded';
                                }
                                return '<div class="d-flex justify-content-center "><span class="' + className + '">' + data + '</span></div>';
                            }
                            return data;
                        }
                    },
                    {
                        "data": "CreatedOn",
                        "name": "CreatedOn",
                        "title": "Created On",
                        "autoWidth": true
                    },
                    {
                        "data": "ModifiedOn",
                        "name": "ModifiedOn",
                        "title": "Modified On",
                        "autoWidth": true
                    },
                    {
                        "data": null,
                        "title": "Actions",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            if ((row.Status == "Pending" && @user.DepartmentID == 2) || @user.DepartmentID == 1) {
                                return '<td>' +
                                    '<div class="d-flex justify-content-center align-items-center" style="gap: 1rem;"><button type="button" class="btn btn-success approveBtn" data-id="' + row.TaskID + '">Approve</button>' +
                                    '<button type="button" class="btn btn-danger rejectBtn" data-id="' + row.TaskID + '">Reject</button></div>' +
                                    '</td>';
                            } else {
                                return '<td>No Action is Required</td>';
                            }
                        }
                    },
                ]
            });

        // Approve Task
        $(document).on("click", ".approveBtn", function () {
            var taskID = +$(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;
            console.log(taskID);
            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Approved" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Approving Task.");
                }
            });
        });

        // Reject Task
        $(document).on("click", ".rejectBtn", function () {
            var taskID = $(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;

            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Rejected" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Rejecting Task.");
                }
            });
        });


    </script>
}
