@using TaskLogSystem.Models
@{
    ViewBag.Title = "ApproveTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Employee user = null;
    if (Session["CurrentUser"] != null)
    {
        user = (Employee)Session["CurrentUser"];
    }
}

@{Html.RenderPartial("_Header"); }

<div class="container-fluid ps-4 pe-5">
    <div class="text-center">
        <h1><b>Approve Tasks</b></h1>
    </div>

    @*<div class="StatusDropdown">
        <select id="Status" name="Status" class="form-select">
            <option value="" selected>Select</option>
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
            <option value="Pending">Pending</option>
        </select>
    </div>*@

    <table class="table table-bordered table-responsive" id="ApproveTaskTable">
        <thead>
            <tr>
                <th>
                    Employee Code
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Description
                </th>
                <th>
                    Task Date
                </th>
                <th>
                    Approver
                </th>
                <th>
                    Approved or Rejected By
                </th>
                <th>
                    Approved or Rejected On
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Modified On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    <script>
        var ApproveTaskTable = $("#ApproveTaskTable").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "searching": true,
            "orderMulti": false,
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],

            "order": [10, "desc"],
            "pagingType": "simple_numbers",
            "language": {
                "loadingRecords": "Loading data, please wait...",
                "zeroRecords": "No data available",
                paginate: {
                    next: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    previous: '<i class="fa fa-chevron-left" aria-hidden="true"></i>'
                }
            },

            "columnDefs": [
                {
                    "targets": [0,8,11],
                    "orderable": false,
                },
                {
                    "targets": [0],
                    "width": "140px",
                },
                {
                    "targets": [1,2,5,6],
                    "width": "170px",
                },
                {
                    "targets": [3],
                    "width": "215px",
                },
                {
                    "targets": [4],
                    "width": "120px",
                },
                {
                    "targets": [7,9,10],
                    "width": "140px",
                },
            ],

            layout: {
                top: {
                    buttons: [
                        {
                            extend: 'collection',
                            text: 'Export',
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    text: '<i class="fa fa-print"></i> Print',
                                    title: 'Task Approve/Reject Status',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                    },
                                },
                                {
                                    extend: 'pdfHtml5',
                                    text: '<i class="fa fa-file-pdf-o"></i> PDF',
                                    title: 'Task Approve/Reject Status',
                                    orientation: 'landscape',
                                    pageSize: 'A3',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                    },
                                },
                            ],
                        },
                    ],
                }
            },

            "ajax": {
                "url": "/Datatable/LoadAllTasksData",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                {
                    "data": "EmployeeCode",
                    "name": "EmployeeCode",
                    "title": "Employee Code",
                },
                {
                    "data": "EmployeeName",
                    "name": "EmployeeName",
                    "title": "Employee Name",
                },
                {
                    "data": "TaskName",
                    "name": "TaskName",
                    "title": "Task Name",
                },
                {
                    "data": "TaskDescription",
                    "name": "TaskDescription",
                    "title": "Task Description",
                },
                {
                    "data": "TaskDate",
                    "name": "TaskDate",
                    "title": "Task Date",
                },
                {
                    "data": "ApproverName",
                    "name": "ApproverName",
                    "title": "Approver",
                },
                {
                    "data": "ApprovedorRejectedByName",
                    "name": "ApprovedorRejectedByName",
                    "title": "Approved or Rejected By",
                },
                {
                    "data": "ApprovedorRejectedOn",
                    "name": "ApprovedorRejectedOn",
                    "title": "Approved or Rejected On",
                },
                {
                    "data": "Status",
                    "name": "Status",
                    "title": "Status",
                    "render": function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            var className = '';
                            if (data === 'Approved') {
                                className = 'bg-success text-white p-2 w-100 text-center rounded';
                            } else if (data === 'Rejected') {
                                className = 'bg-danger text-white p-2 w-100 text-center rounded';
                            } else if (data === 'Pending') {
                                className = 'bg-warning text-black p-2 w-100 text-center rounded';
                            }
                            return '<div class="d-flex justify-content-center "><span class="' + className + '">' + data + '</span></div>';
                        }
                        return data;
                    }
                },
                {
                    "data": "CreatedOn",
                    "name": "CreatedOn",
                    "title": "Created On",
                },
                {
                    "data": "ModifiedOn",
                    "name": "ModifiedOn",
                    "title": "Modified On",
                },
                {
                    "data": null,
                    "title": "Actions",
                    "render": function (data, type, row) {
                        if ((row.Status == "Pending" && @user.DepartmentID == 2) || @user.DepartmentID == 1) {
                            return '<td>' +
                                '<div class="d-flex justify-content-center align-items-center" style="gap: 1rem;"><button type="button" class="btn btn-success approveBtn" data-id="' + row.TaskID + '">Approve</button>' +
                                '<button type="button" class="btn btn-danger rejectBtn" data-id="' + row.TaskID + '">Reject</button></div>' +
                                '</td>';
                        } else {
                            return '<td>No Action is Required</td>';
                        }
                    }
                },
            ]
        });

        // Approve Task
        $(document).on("click", ".approveBtn", function () {
            var taskID = +$(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;
            console.log(taskID);
            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Approved" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Approving Task.");
                }
            });
        });

        // Reject Task
        $(document).on("click", ".rejectBtn", function () {
            var taskID = $(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;

            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Rejected" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Rejecting Task.");
                }
            });
        });
    </script>
}
