@using TaskLogSystem.Models

@{
    ViewBag.Title = "ApproveTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    TaskLogSystemEntities _dbContext = new TaskLogSystemEntities();

    Employee user = null;

    if (Session["CurrentUser"] != null)
    {
        user = (Employee)Session["CurrentUser"];
    }

    // Get a list of permissions, which has assigned to user for this Menu
    var permissionsList = _dbContext.GetUserPermissionsForMenu(user.EmployeeID, "Approve Tasks").ToList();
}

@{Html.RenderPartial("_Header"); }

<div class="container-fluid ps-4 pe-5">
    <div class="text-center">
        <h1><b>Approve Tasks</b></h1>
    </div>

    @*Check if user has access to view employee's Task list*@
    @if (permissionsList.Contains("Read"))
    {
        <table class="table table-bordered table-responsive" style="width: 100%;" id="ApproveTaskTable">
            <thead>
                <tr>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Task Date</th>
                    <th>Approver</th>
                    <th>Approved or Rejected By</th>
                    <th>Approved or Rejected On</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    }
</div>

@section scripts {
    <script>
        var ApproveTaskTable = $("#ApproveTaskTable").DataTable({
            //"processing": true,
            "serverSide": true,
            "filter": true,
            "searching": true,
            "orderMulti": false,
            "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
            "order": [10, "desc"],
            "pagingType": "simple_numbers",

            "language": {
                "loadingRecords": "Loading data, please wait...",
                "zeroRecords": "No data available",
                "paginate": {
                    "next": '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    "previous": '<i class="fa fa-chevron-left" aria-hidden="true"></i>'
                }
            },

            "columnDefs": [
                {
                    "targets": [0,8,11],
                    "orderable": false,
                },
                {
                    "targets": [0],
                    "width": "140px",
                },
                {
                    "targets": [1,2,5,6],
                    "width": "170px",
                },
                {
                    "targets": [3],
                    "width": "215px",
                },
                {
                    "targets": [4],
                    "width": "120px",
                },
                {
                    "targets": [7,9,10],
                    "width": "140px",
                },
            ],

            layout: {
                top: {
                    buttons: [
                        {
                            extend: 'collection',
                            text: 'Export',
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                                    title: 'Task Approve/Reject Status',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                    },
                                },
                                {
                                    extend: 'pdfHtml5',
                                    text: '<i class="fa fa-file-pdf-o"></i> PDF',
                                    title: 'Task Approve/Reject Status',
                                    orientation: 'landscape',
                                    pageSize: 'A3',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                    },
                                },
                            ],
                        },
                    ],
                }
            },

            "ajax": {
                "url": "/Datatable/LoadAllTasksData",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                {
                    "data": "EmployeeCode",
                    "name": "EmployeeCode",
                },
                {
                    "data": "EmployeeName",
                    "name": "EmployeeName",
                },
                {
                    "data": "TaskName",
                    "name": "TaskName",
                },
                {
                    "data": "TaskDescription",
                    "name": "TaskDescription",
                },
                {
                    "data": "TaskDate",
                    "name": "TaskDate",
                },
                {
                    "data": "ApproverName",
                    "name": "ApproverName",
                },
                {
                    "data": "ApprovedorRejectedByName",
                    "name": "ApprovedorRejectedByName",
                },
                {
                    "data": "ApprovedorRejectedOn",
                    "name": "ApprovedorRejectedOn",
                },
                {
                    "data": "Status",
                    "name": "Status",
                    "render": function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            var className = '';
                            if (data === 'Approved') {
                                className = 'bg-success text-white p-2 w-100 text-center rounded';
                            } else if (data === 'Rejected') {
                                className = 'bg-danger text-white p-2 w-100 text-center rounded';
                            } else if (data === 'Pending') {
                                className = 'bg-warning text-black p-2 w-100 text-center rounded';
                            }
                            return '<div class="d-flex justify-content-center "><span class="' + className + '">' + data + '</span></div>';
                        }
                        return data;
                    }
                },
                {
                    "data": "CreatedOn",
                    "name": "CreatedOn",
                },
                {
                    "data": "ModifiedOn",
                    "name": "ModifiedOn",
                },

                @if (permissionsList.Contains("Approve") || permissionsList.Contains("Reject"))
                {
                    <text>
                        {
                            "data": null,
                            "render": function (data, type, row) {
                                if ((row.Status === "Pending" && @user.RoleID != 1) || @user.RoleID == 1) {
                                    var approveDisabled = row.Status === "Approved" ? "disabled" : "";
                                    var rejectDisabled = row.Status === "Rejected" ? "disabled" : "";

                                    return `<div class="d-flex justify-content-center align-items-center" style="gap: 1rem;">
                                                <button type="button" class="btn btn-success approveBtn" data-id="${row.TaskID}" ${approveDisabled}>Approve</button>
                                                <button type="button" class="btn btn-danger rejectBtn" data-id="${row.TaskID}" ${rejectDisabled}>Reject</button>
                                            </div>`;
                                } else {
                                    return 'No Action is Required';
                                }
                            }
                        }
                    </text>
                }
            ],
        });

        // Approve Task
        $(document).on("click", ".approveBtn", function () {
            var taskID = +$(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;
            console.log(taskID);
            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Approved" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Approving Task.");
                }
            });
        });

        // Reject Task
        $(document).on("click", ".rejectBtn", function () {
            var taskID = $(this).data("id");
            var url = "/Employees/ApproveTasks/" + taskID;

            $.ajax({
                url: url,
                type: "POST",
                datatype: 'json',
                data: { id: taskID, status: "Rejected" },
                success: function (response) {
                    ApproveTaskTable.ajax.url("/Datatable/LoadAllTasksData").load();
                },
                error: function () {
                    console.error("An error occurred while Rejecting Task.");
                }
            });
        });
    </script>
}
