
@{
    ViewBag.Title = "ViewEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_Header"); }

<div class="container-fluid">
    <div class="text-center mb-4">
        <h1><b>List of Reporting Employees</b></h1>
    </div>

    @{Html.RenderPartial("_EmployeesTable");}
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#EmployeeTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                //"lengthMenu": [2, 5, 10, 20, { label: 'All', value: -1 }],
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],

                "order": [0, "asc"],

                "ajax": {
                    "url": "/Datatable/LoadEmployeesData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    {
                        "data": "EmployeeCode",
                        "name": "EmployeeCode",
                        "title": "Employee Code",
                        "autoWidth": true
                    },
                    {
                        "data": "EmployeeName",
                        "name": "EmployeeName",
                        "title": "Employee Name",
                        "autoWidth": true
                    },
                    {
                        "data": "Gender",
                        "name": "Gender",
                        "title": "Gender",
                        "autoWidth": true
                    },
                    {
                        "data": "Email",
                        "name": "Email",
                        "title": "Email",
                        "autoWidth": true
                    },
                    {
                        "data": "DepartmentName",
                        "name": "Department",
                        "title": "Department",
                        "autoWidth": true
                    }
                ]
            });
        });
    </script>
}