@{
    ViewBag.Title = "Dashboard";
}

@using TaskLogSystem.CustomModels
@model Dictionary<int?, List<UserMenuPermission>>

@using TaskLogSystem.Models
@{
    TaskLogSystemEntities _dbContext = new TaskLogSystemEntities();

    Employee user = null;
    if (Session["CurrentUser"] != null)
    {
        user = (Employee)Session["CurrentUser"];
    }
}

<div class="wrapper">

    @{ Html.RenderPartial("_Header", Model); }

    <!-- Main Component -->
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom mb-5 d-flex justify-content-between">
            <!-- Button for sidebar toggle -->
            <button class="btnToggleSidebar" type="button" data-bs-theme="dark">
                <span class="navbar-toggler-icon"></span>
            </button>

            <span class="text-dark">
                Welcome, @user.FirstName!
            </span>
        </nav>

        @*For Admin*@
        @if (user.RoleID == 1)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Employees Employeed</h6>
                                <h2 class="text-right"><span>35</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Employees Reporting You</h6>
                                <h2 class="text-right"><span>2</span></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Employees Tasks</h6>
                                <h2 class="text-right"><span>10</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Task Approved/Rejected</h6>
                                <h2 class="text-right"><span>7</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Tasks to Approve/Reject</h6>
                                <h2 class="text-right"><span>3</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*For Manager*@
        @if (user.RoleID == 2)
        {
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Task Logged</h6>
                                <h2 class="text-right"><span>35</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Approved Tasks</h6>
                                <h2 class="text-right"><span>23</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Rejected Tasks</h6>
                                <h2 class="text-right"><span>10</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Pending Tasks</h6>
                                <h2 class="text-right"><span>2</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Employees Reporting You</h6>
                                <h2 class="text-right"><span>2</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Employees Tasks</h6>
                                <h2 class="text-right"><span>10</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Task Approved/Rejected</h6>
                                <h2 class="text-right"><span>7</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Tasks to Approve/Reject</h6>
                                <h2 class="text-right"><span>3</span></h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

        @*For Employees*@
        @if (user.RoleID == 3)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Task Logged</h6>
                                <h2 class="text-right"><span>35</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Approved Tasks</h6>
                                <h2 class="text-right"><span>23</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Rejected Tasks</h6>
                                <h2 class="text-right"><span>10</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total Pending Tasks</h6>
                                <h2 class="text-right"><span>2</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>