
@{
    ViewBag.Title = "ForgotPassword";
}

@model TaskLogSystem.Models.Employee

<div class="login-box">

    <div class="login-logo">
        <b>Forgot Your Password</b>
    </div>

    <div class="login-box-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
        {
            id = "ForgotPasswordForm"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="row">

                <div class="col-12 mb-2">
                    <div class="form-group">
                        <label class="form-label text-bold" for="email">Email</label>
                        @Html.TextBox("email", null, new { @class = "form-control mw-100", id = "email", placeholder = "example@abc.com", required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>               

                <div class="col-4 offset-4 my-3">
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat form-control">Verify Email</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
